---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="webodm-container">
				<iframe
					scrolling="no"
					title="WebODM"
					width="61.8033%"
					height="360"
					frameBorder="0"
					src="https://cloud1.webodm.net/public/project/4b92b2ed-031d-4955-a5f0-15858923c783/iframe/map/?t=orthophoto">
				</iframe>
			</div>
		</main>
		<Footer />
	</body>
</html>
